- var config = { title: 'CSSBox', description: 'The pure css lightbox', author: 'BillyNate' }
- var i = 0
- var versions = { cssbox: '1.0.0', 'css-spinning-spinners': '1.1.0', 'github-fork-ribbon': '0.1.1', 'font-awesome': '4.3.0', normalize: '3.0.2' }
- var gallery = [{'i':'first','url':'//ununsplash.imgix.net/photo-1418065460487-3e41a6c84dc5'}, {'i':'second','url':'//ununsplash.imgix.net/photo-1419064642531-e575728395f2'}, {'i':'third','url':'//ununsplash.imgix.net/photo-1417436026361-a033044d901f'}, {'i':'fourth','url':'//ununsplash.imgix.net/photo-1414502622871-b90b0bec7b1f'}, {'i':'fifth','url':'//ununsplash.imgix.net/photo-1416424500327-a57ace7358b8'}, {'i':'last','url':'//ununsplash.imgix.net/photo-1417021423914-070979c8eb34'}]
doctype html
html(lang="en")
	head
		title=config.title
		meta(charset="utf-8")
		meta(name="description" content=config.description)
		meta(name="author" content=config.author)
		meta(property="og:title" content=config.title)
		meta(property="og:description" content=config.description)
		meta(property="og:type" content="website")
		link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/"+versions['normalize']+"/normalize.min.css")
		link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:700")
		link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/"+versions['font-awesome']+"/css/font-awesome.min.css")
		link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/"+versions['github-fork-ribbon']+"/gh-fork-ribbon.min.css")
		link(rel="stylesheet" href="../dist/css/cssbox.css")
		link.boxstyle(rel="stylesheet")
		link.transition(rel="stylesheet")
		link.load.load1(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/css-spinning-spinners/"+versions['css-spinning-spinners']+"/load1.css")
		link.load.load2(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/css-spinning-spinners/"+versions['css-spinning-spinners']+"/load2.css")
		link.load.load3(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/css-spinning-spinners/"+versions['css-spinning-spinners']+"/load3.css")
		link.load.load4(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/css-spinning-spinners/"+versions['css-spinning-spinners']+"/load4.css")
		link.load.load5(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/css-spinning-spinners/"+versions['css-spinning-spinners']+"/load5.css")
		link.load.load6(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/css-spinning-spinners/"+versions['css-spinning-spinners']+"/load6.css")
		link.load.load7(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/css-spinning-spinners/"+versions['css-spinning-spinners']+"/load7.css")
		link.load.load8(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/css-spinning-spinners/"+versions['css-spinning-spinners']+"/load8.css")
		link(rel="stylesheet" href="css/page.css")
		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js")
		script(src="//platform.twitter.com/widgets.js")
		script(src="js/page.js")
	body
		header
			h1
				span CSS
				span Box
			img(src="http://billynate.github.io/cssbox/images/logo_css3.svg" alt="CSS3")
		section
			p CSSBox is a pure CSS lightbox, no JavaScript needed. <br />Pick your prefered styling below and your codez will be generated.
		section.style
			h2 Pick your style
			div.content
				- for(i=1; i<=6; i++)
					input(type="radio" name="boxstyle" value=i id="boxstyle_" + i)
					label.pick(class="boxstyle" + i for="boxstyle_" + i)
						img(src="http://billynate.github.io/cssbox/images/box" + i + ".jpg", alt="")
		section.transition
			h2 Pick your transition
			div.content
				- for(i=1; i<=5; i++)
					input(type="radio" name="transition" value=i id="transition_" + i)
					label.pick(class="transition" + i for="transition_" + i)
						span.box
		section.spinner
			h2 Pick your loader
			div.content
				- for(i=1; i<=8; i++)
					input(type="radio" name="spinner" value=i id="spinner_" + i)
					label.pick(class="loader-animation-" + i for="spinner_" + i)
						div.loading
		section.code
			h2 Get the codez
			div.content
				p #{'<head>'}
				textarea.head(readonly).
					#{'<link href="//cdnjs.cloudflare.com/ajax/libs/cssbox/1.0.0/cssbox.css" rel="stylesheet">'}
				p.
					#{'</head>'} <br />
					#{'<body>'}
				textarea.body(readonly).
					#{'<label class="cssbox-button" for="gallery_foto1" id="gallery_foto1_label" role="button" aria-hidden="true">'}
					#{'  <img src="thumbnail.jpg">'}
					#{'</label>'}
					
					#{'<input class="cssbox-select" type="radio" name="gallery" value="foto1" id="gallery_foto1" role="button" aria-controls="gallery_foto1_picture" aria-hidden="true">'}
					#{'<picture class="cssbox-box loading" style="background-image: url(large.jpg)" id="gallery_foto1_picture" role="presentation" aria-labelledby="gallery_foto1_label">'}
					#{'  <label class="close" for="gallery_close" role="button">close</label>'}
					#{'  <img src="small_of_same_ratio.jpg">'}
					#{'  <label class="nav prev" for="gallery_foto0" role="navigation">previous</label>'}
					#{'  <label class="nav next" for="gallery_foto2" role="navigation">next</label>'}
					#{'  <p role="note">An optional discription</p>'}
					#{'</picture>'}
					#{'<input class="cssbox-select close" type="radio" name="gallery" value="close" id="gallery_close" role="button" aria-hidden="true">'}
					#{'<label class="cssbox-overlay" for="gallery_close" role="presentation"></label>'}
				p #{'</body>'}
		button.test(title="Test your config")
			i.fa.fa-flask.fa-3x.fa-fw
		div.github-fork-ribbon-wrapper.right
			div.github-fork-ribbon
				a(href="https://github.com/BillyNate/cssbox" target="_blank") Fork on GitHub
		div.share
			button.share(title="Share the love")
				i.fa.fa-share-alt.fa-3x.fa-fw
			button.twitter(title="Share on Twitter")
				i.fa.fa-twitter.fa-3x.fa-fw
			button.facebook(title="Share on Facebook")
				i.fa.fa-facebook.fa-3x.fa-fw
		- for(i=0; i<gallery.length; i++)
			input.cssbox-select(type="radio" name="gallery" value=i id="gallery_" + i role="button" aria-controls="gallery_" + i + "_picture" aria-hidden="true")
			picture.cssbox-box.loading(style="background-image: url("+gallery[i].url+"?q=75)" id="gallery_" + i + "_picture" role="presentation" aria-labelledby="gallery_" + i + "_label")
				label.close(for="gallery_close" role="button") close
				img(src=gallery[i].url+"?fit=max&w=1000&h=200&q=75" alt="")
				- if(i > 0)
					label.nav.prev(for="gallery_" + (i-1) role="navigation") previous
				label.nav.next(for="gallery_" + (i+1) role="navigation") next
				p(role="note") The #{gallery[i].i} picture of the gallery
		input.cssbox-select.close(type="radio" name="gallery" value="close" id="gallery_close" role="button" aria-hidden="true")
		label.cssbox-overlay(for="gallery_close" role="presentation")